[2018-08-12 23:50] helldog136 opened #1 "non-existing PPS 0 referenced"
Hi,

I just found your plugin and i plan on using it for my master's thesis. The plan is to stream video from a camera from another computer and display it inside an unreal engine app.

The video stream is sent from a python app doing some magic stuff with openCV then piping the stream in ffmpeg for him to send the video.

Currently i stream the video using this command:
ffmpeg -hide_banner -i pip

[2018-08-13 13:35] helldog136 opened #2 "[Request] Specify input format explicitly"
Hi,

Is there a way to specify the input format (ie write the "-f" option) for the plugin? I'm working with an mjpeg video flux that is not correctly recognized and i just need to specify this option.

Thanks
Helldog136

[2018-08-13 14:41] helldog136 commented on #2
Found it. You should be able to specify the input format in the options and then this should be set in FFMPEGMediaPlayer.cpp at line 306 according to documentation: https://ffmpeg.org/doxygen/2.8/group__lavf__decoding.html#ga10a404346c646e4ab58f4ed798baca32

[2018-08-13 14:42] helldog136 commented on #1
Did not found a solution but changed the way i stream my video so i close this thread

[2018-08-13 14:42] #1 closed

[2018-08-13 16:38] bakjos commented on #1
Hi, I've just made a small test, streaming a file with the same command you were using but instead of pipe0 I use a local file  and it worked well for me, It may have something to do with the version of ffmpeg you're streaming with (I'm using the 4.0) or with the original file itself. Have you tried to use a local file instead, to be sure the plugin is setup correctly?

[2018-08-13 16:50] bakjos commented on #2
The problem with this is that I’m using the Unreal base player and you can only set the options globally and it would apply to all the instances of the FFMPEGPlayer, so it’s posible to add the options but you’ll have to do it using an actor component. The primary target for this plugin is to use it as replacement for the default player when you need more codecs or support for transparent videos

[2018-08-13 16:59] helldog136 commented on #2
I understand the goal of this plugin. Can you maybe point a solution? I'm struggling with this for ages... I'm not familiar with coding plugins for UE. Could you show me how i can hotfix your plugin so it takes only mjpeg streams using the mjpeg demux?

[2018-08-14 01:37] bakjos commented on #2
I guess the easiest way is to specify the format_whitelist or the codec_whitelist, I don't have any video encoded with mjpeg, to test.  So you can modify the FFMPEGMediaPlayer class and add something like

FFMPEGMediaPlayer.cpp:298

``
//this is the demuxer you can see the available formats using ffmpeg -formats
av_dict_set(&format_opts, "format_whitelist", "...", AV_DICT_DONT_OVERWRITE);  ``

``

[2018-08-15 01:41] #2 closed

[2019-07-16 09:52] dishuman opened #3 "FFMpegMedia Crash"
I am using UE421.

When I switch videos few or 10-20times, some times UE will crash.
and here is the crash log:

Integer divide-by-zero - code c0000094 (first/second chance not available)

avutil_56
UE4Editor_FFMPEGMedia!FFFMPEGMediaTracks::UploadTexture() [e:\ue4-plugin\ffmpeg\ffmpeg421\plugins\ffmpegmedia\source\ffmpegmedia\private\player\ffmpegmediatracks.cpp:1863]
UE4Editor_FFMPEGMedia!FFFMPEG

[2020-01-15 16:47] jasonchin opened #4 "GetTime() always returns 0 when the video has no audio track"
I am using UE 4.22 and have tested using H265 and H264 videos.

If the video file does not contain an audio track, the value returned from FFMPEGMediaTracks::GetTime() (called via UE4's MediaPlayer::GetTime() interface) is always 0.

It seems to stem from the below line:
https://github.com/bakjos/FFMPEGMedia/blob/161c5d1acb42f1aae0708b3f03abb638f58d2425/Source/FFMPEGMedia/Private/Player/FFMPEGMedi

[2020-01-16 17:57] bakjos commented on #4
Does the file contains the audio stream even with no sound? if so, I think that's the issue, because the plugin will try to sync the audio and video streams.  You can check the streams using ffmpeg `ffmpeg -i <input> 2>&1 | grep "Stream #" | wc -l` you can remove the audio stream using the instructions from [here](https://superuser.com/questions/268985/remove-audio-from-video-file-with-ffmpeg) or

[2020-01-17 17:09] jasonchin commented on #4
@bakjos
Here is a sample H265 video file: [FrameCounterTest-H265.zip](https://github.com/bakjos/FFMPEGMedia/files/4077827/FrameCounterTest-H265.zip)

It definitely doesn't have an audio stream, I have stripped it out using `-an` in ffmpeg.

For clarity here is the command I use to generate the files:
ffmpeg.exe -i <input> -c:v libx265 -an <output>

[2020-01-17 19:12] bakjos commented on #4
@jasonchin Thanks for upload the video, I made a couple of tests and the video is playing correctly for me. Since the format can be HW accelerated, sometimes it will try to use your GPU to play the video, you can go to the project settings and inside the plugins section and disable the **Use hardware accelerated codecs** option

![Settings](https://user-images.githubusercontent.com/1247502/7263911

[2020-01-20 10:47] jasonchin commented on #4
@bakjos Thanks for your response.

To be clear, the video played fine previously, but just that GetTime() always returned 0.

This seems to have solved my problem, thanks for the suggestion. With HW acceleration disabled, the correct frame number is returned. Does that mean that with HW acceleration enabled, getting the correct frame number is not possible? Or do you think that this is HW dependan

[2020-01-21 01:05] bakjos commented on #4
The issue is the `LogFFMPEGMedia: Warning: FFMPEG - Invalid pkt_timebase, passing timestamps as-is.`, this is returned directly inside the cuda operation https://github.com/FFmpeg/FFmpeg/blob/19f75e77870ac8bca06d379c2ac2c3d652e6d08b/libavcodec/cuviddec.c#L1051. Can you try using an external clock sync type (The last option in the menu) and enabling the HW acceleration?

[2020-01-21 16:48] jasonchin commented on #4
Unfortunately it does not work, GetTime() is still returning 0.

Here is the log:
[FFMPEGMedia-issue4log-2.txt](https://github.com/bakjos/FFMPEGMedia/files/4092274/FFMPEGMedia-issue4log-2.txt)

[2020-02-24 14:56] jasonchin commented on #4
@bakjos
Hi, I've noticed that this issue even happens even with ffplay when using a HW accelerated codec. The frame time is not returned, so I suspect it is an issue within the codec itself.

eg
`.\ffplay.exe [file] -vcodec hevc_cuvid`
will display 'nan' for the frame time.

This is unfortunate, but doesn't seem like it can be easily fixed. I will close this ticket for now (feel free to open it if

[2020-02-24 14:56] #4 closed

[2020-02-26 05:44] bakjos commented on #4
@jasonchin Thanks for looking into it, it might get fixed in newer versions of FFMPEG

[2020-03-03 09:00] arnekalypse opened #5 "Sourcecode"

[2020-03-03 09:04] arnekalypse opened #6 "FFMPEGMedia isn't rebuilding in 4.24.2"
Hey guys,

as the topic says. I'm currently try to rebuild the plugin with UE 4.24.2.

`LogInit: Warning: Incompatible or missing module: FFMPEGMedia
LogInit: Warning: Incompatible or missing module: FFMPEGMediaFactory
Running C:/Program Files/Epic Games/UE_4.24/Engine/Binaries/DotNET/UnrealBuildTool.exe Development Win64 -Project="C:/Users/grafikadm/Documents/Unreal Projects/FFMPEG/FFMPEG.uprojec

[2020-03-03 09:05] #5 closed

[2020-03-10 15:34] PTS93 commented on #6
Working fine on Windows with 4.24.
Maybe try to build with VS 2017 instead? According to the log it can't find a few includes.

[2020-03-10 15:37] PTS93 opened #7 "Specifying decoder"
First of all thank you very much for this plugin, video playback options are still very lacking for UE4.
I was wondering if there is any way to specify which codec/decoder is being used. Worst case be that I have to hard code it somewhere.

Any pointers would be much appreciated.

[2020-03-11 09:59] arnekalypse commented on #6
Hey PTS93,

it doesn't work. I've tried it on a complete new machine with just vs2017, ue 4.24 and ffmpeg.

Do i need any special prerequisites befort I start the rebuild process?

Thanks.

[2020-03-11 10:28] PTS93 commented on #6
Sorry, not sure what the issue is then. Maybe you included it in a non C++ project?
You do not need ffmpeg seperately, dll is already included here.
I'm on Windows 10 though don't think that makes a difference.

[2020-03-11 10:38] arnekalypse commented on #6
Do you have a compiled plugin for 4.24? If yes, can you send me a packed version of your plugin?

That would be great.

[2020-03-11 11:36] PTS93 commented on #6
Sure, copy that into the plugin folder
[Binaries.zip](https://github.com/bakjos/FFMPEGMedia/files/4317990/Binaries.zip)

[2020-03-11 18:21] arnekalypse commented on #6
Thanks. I think the binaries folder is not enough, the engine needs more to start without rebuilding.

With 4.19 it is no problem to rebuild the plugin... strange...

[2020-03-11 18:37] PTS93 commented on #6
Sorry I noticed I compiled it in a 4.23 project. Though still works in even 4.25 preview for me. The binary is all it needs. Try this one this is definitely 4.25 now:
[Binaries.zip](https://github.com/bakjos/FFMPEGMedia/files/4320109/Binaries.zip)

[2020-03-11 19:47] arnekalypse commented on #6
These are the project binaries. Not the plugin's.
Thank you very much.

[2020-03-11 22:33] PTS93 commented on #6
Uf sorry long process. Double checked, definitely 4.24 now. I edited the previous post (meant to write 4.24 not 4.25)

[2020-03-12 07:33] arnekalypse commented on #6
Wow. It's working. You helped me a lot, thanks.

[2020-03-14 15:54] bakjos commented on #7
@PTS93  Sorry for all the delay to answer, I haven't include the options to select the codec because I wanted this process to be automatic (just to choose if you want accelelerated drivers or not), and PRs for this are more than welcome.  I'm using this function to get all the available decoders for a  [file](https://github.com/bakjos/FFMPEGMedia/blob/161c5d1acb42f1aae0708b3f03abb638f58d2425/Sourc

[2020-03-14 15:59] bakjos commented on #6
@PTS93 Thanks for looking into this issue, @arnekalypse  I just checked using the version 4.24.3 and VS 2019 and it's compiling correctly, so I'm going to close this one

[2020-03-14 15:59] #6 closed

[2020-03-14 16:49] PTS93 commented on #7
Thanks! I didn't see the flag for hardware acceleration, that might actually be enough for my usecase. Thanks for the pointer though, I might take a look at adding options for specific codecs.

[2020-06-24 06:50] hongqimei opened #8 "Whether it can support Android？"
As the title，Expect your reply

[2020-06-25 03:20] bakjos commented on #8
@hongqimei not right now, it only support windows and OSX. However it should be possible to integrate it using something like [this](https://github.com/tanersener/mobile-ffmpeg)

[2020-06-28 10:49] hongqimei commented on #8
@bakjos I tried mobile ffmpeg through my personal efforts, but it does not make it run effectively. I wonder if you can help me solve this problem, and also enrich your plug-ins, I would appreciate it. (From Google Translate, hope it didn’t offend you)

[2020-07-16 01:26] giomerlin commented on #8
@hongqimei Just now I had the chance to work a little bit on this issue, can you test with the branch feature/android_build ? you should use the ndk 21.

Let me know if it works to merge it out with the master branch

[2020-07-16 01:36] hongqimei commented on #8
@giomerlin of course

[2020-07-16 02:16] hongqimei commented on #8
@giomerlin
I ran it on UE4.25 and fixed some eror. But after packaging into apk, I got the following error. Can you give me your email address? Let's discuss this issue together.

2020-07-16 10:13:38.654 2668-2668/com.YourCompany.FFTest D/AndroidRuntime: Shutting down VM
2020-07-16 10:13:38.655 2668-2668/com.YourCompany.FFTest E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.YourCompany.FF

[2020-07-16 02:21] hongqimei commented on #8
@giomerlin
You should probably find the file cpufeatures.pc, look at the prefix=/home/huashiai/LinuxAndroid/android-ndk-r16b/sources/android/cpufeatures, and then find the file and copy it out

[2020-07-16 02:26] giomerlin commented on #8
@hongqimei It seems like you're using the wrong version of the NDK (r16) can you use the (r21d) https://developer.android.com/ndk/downloads to see if you still get the same error. I couldn't test it out on a physical device

[2020-07-16 02:28] hongqimei commented on #8
@giomerlin No, it was used when I compiled before, and my packaging project uses R21, if it can't be packaged

[2020-07-16 02:29] hongqimei commented on #8
Take a look you can find cpufeatures.so file

[2020-07-16 02:31] hongqimei commented on #8
@giomerlin cpufeatures is in ffmpeg mobile, I have some problems with compilation here, follow the example I gave you to find the cpufeatures.so file

[2020-07-16 02:41] giomerlin commented on #8
@hongqimei Tomorrow I'll take a look, you can try to include additional so files copying them to the ThirdParty/ffmpeg/lib/android/${platform} folder, and adding them to the FFMPEGMedia_APL.xml file

[2020-07-16 02:43] hongqimei commented on #8
@giomerlin thank you very much

[2020-07-16 02:57] hongqimei commented on #8
@bakjos @giomerlin
After I added libcpufeatures.so, I can open the app without crashing, but when I run the read rtsp stream, such a problem occurs

------------------------------------------------error---------------------------------------------------------------------------------

2020-07-16 10:53:51.489 14327-14450/com.YourCompany.FFTest D/UE4: [2020.07.16-02.53.51:489][418]LogFFMPEGMedia: Err

[2020-07-16 03:13] giomerlin commented on #8
@hongqimei  It seems like the plugin is working the problem could be the codec or the video/audio decoder. Does it work with the same stream on the editor ? You can also disable the use hardware accelerated and enable the disable audio, to check if the issue is with the audio codec, does it shows a blank screen ?

[2020-07-16 04:40] hongqimei commented on #8
@giomerlin It can be parsed out on the editor, I don't know where the codec is modified

[2020-07-16 15:27] giomerlin commented on #8
@hongqimei The codec comes with the binary distribution of FFMPEG, so the Android binaries could be compiled without the support for the codec/format you're trying to use in your stream. So I added more log when reading the stream/file. When you run it in the editor you should see something like
[code]

[2020-07-17 02:46] hongqimei commented on #8
@giomerlin
This is my log output

`
LogTemp: Repeating last play command: 选中的视口
LogPlayLevel: PlayLevel: No blueprints needed recompiling
PIE: New page: PIE会话：NewMap（2020年7月17日 下午6:44:06）
LogOnline: OSS: Creating online subsystem instance for: NULL
LogOnline: OSS: TryLoadSubsystemAndSetDefault: Loaded subsystem for module [NULL]
LogPlayLevel: Creating play world package: /Game/UEDPIE_0_NewMap
LogP

[2020-07-17 02:47] hongqimei commented on #8
@giomerlin There is no information similar to yours

[2020-07-17 02:50] giomerlin commented on #8
@hongqimei You might need to delete the bin folder inside the plugin to make it compile once again (after the branch is updated). Also the log with the format information only appears when you play the video inside the editor

[2020-07-17 06:24] hongqimei commented on #8
@giomerlin Still nothing you describe appears, do you have no Android device, you can install Android studio Open UE4 project, open Intermediate\Android\arm64\gradle, then you can run an android app on the computer

[2020-07-17 10:53] giomerlin commented on #8
@hongqimei in the android device what you should see is the information with the encoder/decoders, as soon as the application is launched, in the editor it should show you the file information, I need both logs, the one from the editor to get the file type and the one from the android device to get the available encoders. I do have android studio installed ( I make mobile development, but the issu

[2020-07-17 11:01] giomerlin commented on #8
@hongqimei I just realized that I pushed the changes to a private repository I have instead of the public one, can you update the code once again and do it all over

[2020-07-17 11:02] hongqimei commented on #8
@giomerlin Ok, let me try again. Is your engine 4.25? If I use 4.25, there will be a bunch of errors, 1778750163@qq.com, this is my mailbox, you can email me, communication will be faster

[2020-07-17 11:02] hongqimei commented on #8
@giomerlin I said why the code is not updated

[2020-07-17 11:04] hongqimei commented on #8
@giomerlin Whether to push, I will download again

[2020-07-17 11:05] giomerlin commented on #8
@hongqimei Yes it's 4.25.1, what kind of errors are you seeing, the errors I see are related to the file itself, when it tries to load a video

[2020-07-17 11:07] hongqimei commented on #8
@giomerlin 1>C:/Project/UE/FFTest/Plugins/FFMPEGMedia/Source/FFMPEGMediaFactory/Private/FFMPEGMediaFactoryModule.cpp(17): fatal error C1083: Cannot open include file: 'WindowsHWrapper.h': No such file or directory

[2020-07-17 11:09] hongqimei commented on #8
@giomerlin
`
1>  [1/4] Module.FFMPEGMedia.cpp
1>C:/Project/UE/FFTest/Plugins/FFMPEGMedia/Source/FFMPEGMedia/Private/FFMPEG/FFMPEGClock.cpp(54): error C4458: declaration of 'pts' hides class member
1>  C:\Project\UE\FFTest\Plugins\FFMPEGMedia\Source\FFMPEGMedia\Private\FFMPEG\FFMPEGClock.h(26): note: see declaration of 'FFMPEGClock::pts'
1>C:/Project/UE/FFTest/Plugins/FFMPEGMedia/Source/FFMPEGMedia

[2020-07-17 11:10] hongqimei commented on #8
@giomerlin The previous versions have been fixed, I hope you can fix the problem of incomplete reference of these header file paths and function members overwriting class members on your version

[2020-07-17 11:13] giomerlin commented on #8
@hongqimei I'm not seeing any of those errors, what compiler/os are you using? I'm using vs 2019 on windows and Xcode on Mac. You can create a PR with the changes you made to fix those errors

[2020-07-17 11:15] hongqimei commented on #8
@giomerlin win10 vs2019

[2020-07-17 11:23] hongqimei commented on #8
@giomerlin
`
LogBlueprintUserMessages: [NewWidgetBlueprint_C_0] true
LogFFMPEGMedia: Warning: FFMPEG - 'circular_buffer_size' option was set but it is not supported on this build (pthread support is required)
LogFFMPEGMedia: Warning: FFMPEG - 'circular_buffer_size' option was set but it is not supported on this build (pthread support is required)
LogTcpMessaging: Started Connection to '127.0.0.1:6

[2020-07-17 11:26] hongqimei commented on #8
@giomerlin andorid

[code]

[2020-07-17 11:28] hongqimei commented on #8
@giomerlin android
[code]

[2020-07-17 11:38] hongqimei commented on #8
@giomerlin From the camera in the LAN, the rtsp stream should be no problem. The javacv I used can also be read and displayed.

[2020-07-17 11:39] hongqimei commented on #8
@giomerlin
This is the point
[code]

[2020-07-17 12:10] giomerlin commented on #8
@hongqimei ok, I'm going to disable the hw codecs in android and add more log when is reading the pixel format for the file. I'll let you know once I pushed the changes

[2020-07-17 20:54] giomerlin commented on #8
@hongqimei  I pushed the update to the repo in the same branch, let me know if you still see the  No Java virtual machine has been registered error

[2020-07-20 03:41] hongqimei commented on #8
@giomerlin
Thank you for your work, I will continue to help you

[code]

[2020-07-20 03:50] hongqimei commented on #8
@giomerlin And no image is displayed

[2020-07-20 11:32] bakjos commented on #8
@hongqimei  cool, now it opened de file correctly, let’s try this: first comment the log for “initialize scale context” because it has to be called on every frame, second, in the ffmpeg plugin section inside the project settings disable the use hardware accelerated codec option and select video for sync type, and try to reduce the number of video threads

[2020-07-20 11:36] hongqimei commented on #8
@giomerlin how to  disable the use hardware

[2020-07-20 11:37] hongqimei commented on #8
@giomerlin FFMPEGDecoder.cpp here?

[2020-07-20 11:40] bakjos commented on #8
@hongqimei  Inside the editor, you select project settings and there’s a section for the FFMPEG plugin

![Settings](https://user-images.githubusercontent.com/1247502/72639116-e74db900-3932-11ea-9a4d-0155c0c6874f.png)

[2020-07-20 11:42] hongqimei commented on #8
@giomerlin Let me test

[2020-07-20 11:48] hongqimei commented on #8
@giomerlin
No picture
[code]

[2020-07-20 11:50] hongqimei commented on #8
@giomerlin
![Screenshot_2020-07-20-19-48-40-051_com YourCompan](https://user-images.githubusercontent.com/37991987/87934733-329f7a80-cac2-11ea-85be-6595dab4efe5.jpg)

[2020-07-20 12:00] bakjos commented on #8
@hongqimei for the logs it appears like is still using the hardware accelerated codec, is it un selected ? When you run the app inside the editor is it still showing you the cuda codec ?

[2020-07-20 12:01] hongqimei commented on #8
@giomerlin Hardware decoding is not selected

[2020-07-20 12:02] hongqimei commented on #8
@giomerlin The editor still shows hardware decoding
[code]

[2020-07-20 12:04] hongqimei commented on #8
![批注 2020-07-20 200416](https://user-images.githubusercontent.com/37991987/87935731-36cc9780-cac4-11ea-93c3-e4984837144b.png)

[2020-07-20 12:05] bakjos commented on #8
No, the editor is showing the regular h264 codec
`Display: Using codec: h264 - 27`, can you rebuild the android application, just to check if it did apply the changes

[2020-07-20 12:06] hongqimei commented on #8
OK

[2020-07-20 12:06] bakjos commented on #8
@hongqimei also in the sync type lets switch from audio master to video (the last option inside the settings)

[2020-07-20 12:08] hongqimei commented on #8
@bakjos
[code]

[2020-07-20 12:09] hongqimei commented on #8
I have repacked it once

[2020-07-20 12:11] hongqimei commented on #8
I chose "video" and tried again, but there is still no image information

[2020-07-20 12:16] bakjos commented on #8
@hongqimei  The only option here is to debug the android version, I suppose it has to do with the video codec or the image format. https://docs.unrealengine.com/en-US/Platforms/Mobile/Android/AndroidDebugging/index.html

Checking if at any point the ffmpeg is returning an error.

The other thing I would like to discard is the emulator, do you have the chance to test it out on a physical device ?

[2020-08-05 10:46] 17702513221 opened #11 "When i use it in 4.24 and vs2017,i get a error"
![EMP1OEB7`2PYPV33PV2XL%D](https://user-images.githubusercontent.com/40785359/89404060-eef87200-d74b-11ea-9a24-9cb38e7bccc3.png)
Can you help me

[2020-08-05 20:22] bakjos commented on #11
@17702513221 Does it work if you use this branch https://github.com/bakjos/FFMPEGMedia/tree/feature/android_build?

[2020-08-06 01:06] 17702513221 commented on #11
![7PUONK(VG4{A9`~S@$@@UN1](https://user-images.githubusercontent.com/40785359/89478909-0d01b900-d7c4-11ea-99a2-3c54a3c0e75c.png)
I git a same error in android_build

[2020-08-06 03:39] 499418465 opened #12 "Crash"
I am using UE4.22
When I turn on RTSP/RTMP, the network is in an unstable/open multiple video, close media crash occurs.
<img width="1119" alt="641129d7dc94bdd63c8c1c8d2afe915" src="https://user-images.githubusercontent.com/20896330/89488009-78a25100-d7d9-11ea-9455-1b2beaa4a5bb.png">

[2020-08-06 06:33] 499418465 commented on #12
I use VS2017.

[2020-08-09 03:05] 17702513221 opened #13 "How to reduce the delay"
当我在运行时，人改变动作到显示需要2秒，请问如何减少缓冲

[2020-08-09 03:05] 17702513221 commented on #13
When I'm running, it takes 2 seconds for a person to change his action to the display. How to reduce the buffer

[2020-08-09 11:45] bakjos commented on #13
@17702513221 I think I don’t get the issue, is it after you invoke the play method ? Is it loading the video? Is it an streaming video ? You can try to add the following line in the ReadContext method from the FFMPEGPlayer`  av_opt_set(FormatContext->priv_data, "tune", "zerolatency", 0); ‘ before opening the context,

[2020-08-09 12:07] #7 closed

[2020-08-09 12:07] #11 closed

[2020-08-10 02:04] #8 closed

[2020-08-10 13:05] 17702513221 commented on #13
I open an streaming video rtmp after invoke the play method.when i try to add ` av_opt_set(FormatContext->priv_data, "tune", "zerolatency", 0); ‘in FFMPEGMediaPlayer.cpp line 304,i get a error

[2020-08-10 13:49] 17702513221 commented on #13
“av_opt_set”: 找不到标识符

[2020-08-10 14:03] 17702513221 commented on #13
@bakjos

[2020-08-10 16:29] giomerlin commented on #12
@499418465 I pushed a couple of changes, can you check if it's working now?

[2020-08-10 16:32] giomerlin commented on #13
@17702513221 I added a new setting to use the zero latency, it should work only for h264, you can go to the project settings > FFMpeg media and check the Zero Latency Option, let me know if it works

[2020-08-11 06:22] 17702513221 commented on #13
![$VE$50B2UDNWL)G4RO~R1RE](https://user-images.githubusercontent.com/40785359/89863986-c2c27280-dbdd-11ea-8b8a-a969a8a17514.png)
I don not see LogFFMPEGMedia: Warning: FFMPEG - UDP timeout, retrying with TCP
![%P1P7QR$N$DRPPPF@A PH(5](https://user-images.githubusercontent.com/40785359/89864147-061ce100-dbde-11ea-8912-05044be88b77.png)

[2020-08-11 06:22] 17702513221 commented on #13
@giomerlin

[2020-08-11 08:58] 499418465 commented on #12
Problem solved！ thanks

[2020-08-11 11:08] #12 closed

[2020-08-11 11:11] bakjos commented on #13
@17702513221 can you try disabling the audio? Also, send me the full log to check if it’s something else

[2020-08-11 12:31] 17702513221 commented on #13
“UE4Editor.exe”(Win32): 已加载“E:\UE4\UE_4.24\Engine\Binaries\Win64\UE4Editor.exe”。无法查找或打开 PDB 文件。
“UE4Editor.exe”(Win32): 已加载“C:\Windows\System32\ntdll.dll”。无法查找或打开 PDB 文件。
“UE4Editor.exe”(Win32): 已加载“C:\Windows\System32\kernel32.dll”。无法查找或打开 PDB 文件。
“UE4Editor.exe”(Win32): 已加载“C:\Windows\System32\KernelBase.dll”。无法查找或打开 PDB 文件。
“UE4Editor.exe”(Win32): 已加载“C:\Windows\System32\shell32.dll”。无法查找或打开 PD

[2020-08-11 12:38] bakjos commented on #13
@17702513221 it’s using the hardware accelerated codecs, can you disable it, to check if it helps ? When are you seeing this 2 secs delay ? On the loading or is it when you play the video, you have to wait 2 secs to display the first frame ?

[2020-08-11 12:45] 17702513221 commented on #13
when i play the video,i have to wait 2 secs to display the real time
![DQVX~1 `GM_VHYHXYMZ6W4](https://user-images.githubusercontent.com/40785359/89898619-975a7a80-dc13-11ea-841a-b2af9fcd627a.png)
the result is same

[2020-08-11 12:48] 17702513221 commented on #13
![UG69H@6Z%@FIJ {)RCVUNA5](https://user-images.githubusercontent.com/40785359/89898881-0637d380-dc14-11ea-9036-74eedd44f6e5.png)

[2020-08-11 12:50] 17702513221 commented on #13
![X)8EN_7DW)W93NR 7VB`131](https://user-images.githubusercontent.com/40785359/89898994-33848180-dc14-11ea-8513-d227a94dd7df.png)

[2020-08-11 13:06] bakjos commented on #13
Does checking the speed up tricks make any difference ?

[2020-08-11 13:20] 17702513221 commented on #13
![$ (OGKW {C{~%N DONISB{V](https://user-images.githubusercontent.com/40785359/89901939-66c90f80-dc18-11ea-9385-78966d78647c.png)

[2020-08-11 13:25] 17702513221 commented on #13
How to use ffmpeg read rtmp,sorry i don not know.

[2020-08-11 13:41] bakjos commented on #13
@17702513221 I just pushed some changes adding the nobuffer flag when the zero latency is selected, let me know if that works

[2020-08-11 14:09] 17702513221 commented on #13
success,thank you

[2020-08-11 14:09] #13 closed

[2020-08-13 08:23] 17702513221 opened #15 "Can you help me how to play many RTMP together"
I want to play 10 RTMP together,but when i play 4,my computer is crash.
![3deedc3de0ee6c786d4f2b860ef8c27](https://user-images.githubusercontent.com/40785359/90110326-9e060080-dd7f-11ea-9afd-dab3e4f6d512.jpg)
This is my blueprint
![J85{IF)(~TGE03%)UZ1$YFO](https://user-images.githubusercontent.com/40785359/90110927-824f2a00-dd80-11ea-8a6c-e966ad223bf5.png)
sometime CPU is in 30%,3 rtsp
![X5U@CTKAV

[2020-08-15 21:01] santiagodml opened #16 "How Can i Install it? I am new newbie"
Excuse if my question is too basic, buy I dont know how to install this plug in.
I Don't know how to do it. Putting it in the plugins folder and activating it in the editor produce errors, with 4.23, but also with 4.18 and 4.19.

Apreciate you guidance

[2020-08-17 02:10] LinXunxi opened #17 "this can't run on an android"
ue：4.25

[2020-08-17 14:04] bakjos commented on #16
@santiagodml I haven't tried running  a 4.19 version using the latest commit, it may be due some dependencies, what error are you getting when the plugin is compiled?

[2020-08-17 14:05] bakjos commented on #17
@LinXunxi Can you give me more details, have you tried on a physical device?

[2020-08-17 14:26] santiagodml commented on #16
I think I dont know how to compile it. Just copy the whole folder to unreal/plugins. Unreal try to compile but ask to do it manually and i dont know how. Try to open visual studio and "rebuild" the folder but doesn't work for me

[2020-08-17 15:02] bakjos commented on #16
@santiagodml  When you right click on your project, you can generate the visual studio solution for the project, once you open it and try to build should show you the error on the output window, I just test the current version with UE 4.25, so may be was something added/deleted between the versions

[2020-08-17 16:32] santiagodml commented on #16
I think there are some missing files or I am doing something wrong:

Error	C1083	No se puede abrir el archivo incluir: 'WindowsHWrapper.h': No such file or directory	HostProject	C:\Users\Santiago\Desktop\HostProject\Plugins\FFMPEGMedia\Source\FFMPEGMediaFactory\Private\FFMPEGMediaFactoryModule.cpp	17

Error	C1083	No se puede abrir el archivo incluir: 'ScopeLock.h': No such file or directory	HostPr

[2020-08-17 16:51] santiagodml commented on #16
I tried adding those files from the engine buy had mode errors
WindowsHWrapper.h
ScopeLock.h
GenericPlatformProcess.h
IPluginManager.h
RunnableThread.h
Runnable.h

If I try with 4.25 it will work ?

[2020-08-18 14:59] bakjos commented on #16
@santiagodml All those files are part of the Core engine, so it might be something misconfigured, I suggest clear all the binary, build and Intermediate folders from the root project dir and all the plugins, update your project to the 4.25 version (using the right click option on the explorer) and then regenerate the solution (from the context menu as well)

[2020-08-18 16:21] santiagodml commented on #16
@bakjos recien me doy cuenta que eres de colombia. Quiza puedo explicarme mejor en castellano :)

Lo que hice fue bajar la version 4.25, crear un proyecto nuevo con C++, abri el proyecto con visual studio, lo compile.
Cerre visual studio, cree una carpeta llamada Plugins y coloque dentro el contenido del plugin descargado desde aqui.
Abri nuevamente el proyecto con visual studio, coloque compilar

[2020-08-18 16:37] bakjos commented on #16
@santiagodml En teoría lo que hiciste debería funcionar, por lo que veo estás usando windows, visual studio 2017 y UE 4.25, verdad?, la ruta del plugin debería ser algo como ${ROOT_PROJECT}/Plugins/FFMPEGMedia/FFMPEGMedia.uplugin, cuando lanzas el proyecto te dice que deberías recompilarlo y falla cuando lo recompila ? Puede ser también que no hayas instalado el sdk de windows, https://docs.unreal

[2020-08-18 17:30] santiagodml commented on #16
Gracias @bakjos por tomarte el tiempo y molestia en responder mis mensajes.

Te queria comentar que hice todo lo que me dijiste, la unica diferencia es que estoy usando vs2019, pero imagino que no deberia haber diferencia.
segui todos los pasos de la guia de configuracion de visual studio pero tampoco habia nada mal.

Volvi a agregar uno a uno los archivos que al compilar no encontraba. Quiza haya

[2020-08-18 17:41] santiagodml commented on #16
Y cuando no le pongo los archivos manualmente el resultado es este:

`1>------ Operación Compilar omitida: proyecto: UE4, configuración: BuiltWithUnrealBuildTool Win32 ------
1>Proyecto no seleccionado para compilarse para esta configuración de solución
2>------ Operación Compilar iniciada: proyecto: FFM, configuración: Shipping Win32 ------
2>Creating makefile for FFM (no existing makefile)
2>...

[2020-08-18 18:35] bakjos commented on #16
@santiagodml cómo agregaste los archivos ? cuando se genera el proyecto, se deberían incluir todos los archivos de los plugins, así que mi sospecha es que el proyecto no lo has generado de nuevo, así que lo que puedes hacer es borrar el .sln, los directorios intermediate tanto de los plugins como del raíz y volver a generar el proyecto, no deberías agregar los archivos de forma manual

[2020-08-18 18:49] santiagodml commented on #16
@bakjos borre los intermediate y el .sln, los genere de nuevo, pero siempre me sale que le falta WindowsHWrapper.h y ScopeLock.h .

Lo probé con un proyecto nuevo vacío y pasa lo mismo. Una lastima, quería mucho ver si este plugin funcionaba mejor que el media framework

Gracias por tu ayuda, saludos

[2020-08-18 18:59] santiagodml commented on #16
@bakjos
Descargué 2 plugins cualquiera solo para probar y ambos compilaron sin errores y los pude usar en UE4
Quizá el problema sea otro

[2020-08-18 19:48] santiagodml commented on #16
@bakjos por si sirve a alguien más finalmente pude compilarlo y usarlo.

Lo que tuve que hacer fue a medida que iba pidiendome los include, quitarlos agregandole // por delante
Uno lo necesitaba para continuar: IPluginManager.h asi que ese lo busque en la carpeta de UE y lo pegue aqui: FFMPEGMedia-master\Source\FFMPEGMedia\Private

Con eso compilo sin errores, lo pude agregar en el editor y usarlo

[2020-08-18 20:00] bakjos commented on #16
@santiagodml En el build.cs de tu proyecto cuales módulos están incluídos en PublicDependencyModules?

[2020-08-18 20:04] santiagodml commented on #16
Use un proyecto nuevo y vacio, el build.cs esta asi:

using UnrealBuildTool;

public class MyProjectTEST : ModuleRules
{
	public MyProjectTEST(ReadOnlyTargetRules Target) : base(Target)
	{
		PCHUsage = PCHUsageMode.UseExplicitOrSharedPCHs;

		PublicDependencyModuleNames.AddRange(new string[] { "Core", "CoreUObject", "Engine", "InputCore" });

		PrivateDependencyModuleNames.AddRange(new string[] {

[2020-08-18 20:24] bakjos commented on #16
@santiagodml puedes borrar el archivo de la carpeta prívate y cambiar el include a Interfaces/IPluginManager.h acá ? https://github.com/bakjos/FFMPEGMedia/blob/3c264fdc86cb4bb69592d519c82b6d4aa4e1c9ef/Source/FFMPEGMedia/Private/FFMPEGMediaModule.cpp#L10

[2020-08-18 20:29] santiagodml commented on #16
Si lo saco me aparece :
 No se puede abrir el archivo incluir: 'IPluginManager.h': No such file or directory

[2020-08-18 20:58] bakjos commented on #16
@bakjos Pero cambiaste el include de #include "IPluginManager.h" a #include "Interfaces/IPluginManager.h"?

[2020-08-18 21:02] bakjos commented on #16
@santiagodml Acabo de subir el cambio, así que puedes actualizar el proyecto también y quitar el Ipluginmanager.h del directorio a ver si con eso lo soluciona, lo raro es que en XCode y VS 2019 funciona bien sin el cambio adicional

[2020-08-18 23:26] santiagodml commented on #16
En esta ultima version me sigue fallando y sigue sin encontrar la misma lista de includes:

WindowsHWrapper.h
ScopeLock.h
GenericPlatformProcess.h
IPluginManager.h
RunnableThread.h
Runnable.h

Solo que ahora, si borro los includes que hacen referencia a los archivos de más arriba me compila sin la necesidad de agregar el archivo IPluginManager.h ni ningun otro

[2020-08-20 09:30] LinXunxi commented on #17
Yes, I test it many times on my phone.
andriod 10 :
opengles2 : don't work~, no pictures, no sound.
opengles3 : don't work~, no pictures, no sound.
vulkan :   You can see the picture, but it's definitely accelerated and no sound.
Amazingly, it doesn't have any error messages.

[2020-08-20 09:31] LinXunxi commented on #17
Yes, I test it many times on my phone.
andriod 10 :
opengles2 : don't work~, no pictures, no sound.
opengles3 : don't work~, no pictures, no sound.
vulkan : You can see the picture, but it's definitely accelerated and no sound.
Amazingly, it doesn't have any error messages.

[2020-08-20 09:35] LinXunxi commented on #17
I added the FFMpeg library on ios. it can play mp4 , but no sound.
if you open rtmp, you can see error:
[2020.08.20-09.15.44:695][288]LogFFMPEGMedia: Error: FFMPEG - hardware accelerator failed to decode picture

[2020-08-20 09:36] LinXunxi commented on #17
ios error details:
[2020.08.20-09.15.30:417][430]LogFFMPEGMedia: Display: AVFormat configuration: --target-os=darwin --arch=arm64 --cc='xcrun -sdk iphoneos clang' --as='gas-preprocessor.pl -arch aarch64 -- xcrun -sdk iphoneos clang' --enable-cross-compile --disable-debug --disable-programs --disable-doc --enable-pic --enable-gpl --enable-libx264 --enable-libfdk-aac --enable-nonfree --enable-gpl --

[2020-08-20 13:31] bakjos commented on #17
@LinXunxi I'd love to include the ios build as well, could you create a PR with the iOS libraries? About the audio I haven't test it in mobile yet, so if you can send me the video you're trying to play, It would help. Does the video work well if you play it from the editor? what happen if you change the settings for the FFMPEG plugin, for instance using video for sync instead of audio?

[2020-08-21 00:45] LinXunxi commented on #17
the video work well on the editor , this is normal mp4 stream.

http://vfx.mtime.cn/Video/2019/02/04/mp4/190204084208765161.mp4

 I change the settings for the FFMPEG plugin,  but It doesn't work too.

[2020-08-21 02:10] LinXunxi commented on #17
about IOS libraries:
you can see :  https://github.com/LinXunxi/FFMPEGMedia

[2020-08-25 06:35] #17 closed

[2020-09-23 05:23] 499418465 opened #18 "How to specify TCP protocol?"
How to specify TCP protocol?
![tcp](https://user-images.githubusercontent.com/20896330/93970098-ee6d7680-fd9f-11ea-8d61-a5b177193c9c.jpg)

[2020-09-23 10:25] 499418465 commented on #18
Can you help me?

[2020-09-23 10:30] 499418465 commented on #18
I use UE4.24,vs2019.    Is there an error because of the TCP link?

[2020-09-23 12:31] bakjos commented on #18
@499418465  You can change what protocol you want to use from the plugin settings, inside the project settings. by default it will try UDP first and if it fails it will switch to TCP, seeing the logs you include, the server is responding with an error 500, so I would say the issue is not the protocol but the server itself

[2020-09-23 13:29] 499418465 commented on #18
This problem I query should be a TCP protocol problem.Which is the project setting?
![1600867723(1)](https://user-images.githubusercontent.com/20896330/94018956-c9025c00-fde3-11ea-85d9-67e65944a0d5.jpg)

[2020-09-23 13:30] 499418465 commented on #18
This problem I query should be a TCP protocol problem.Which is the project setting?
![1600867723(1)](https://user-images.githubusercontent.com/20896330/94018956-c9025c00-fde3-11ea-85d9-67e65944a0d5.jpg)

[2020-09-23 13:30] 499418465 commented on #18
This problem I query should be a TCP protocol problem.Which is the project setting?
![1600867723(1)](https://user-images.githubusercontent.com/20896330/94018956-c9025c00-fde3-11ea-85d9-67e65944a0d5.jpg)

[2020-09-23 13:31] 499418465 commented on #18
Here's what I found
https://medium.com/androvideo/ffmpeg-udp-timeout-retrying-with-tcp-8def8a948cee

[2020-09-23 13:34] 499418465 commented on #18
@bakjos

[2020-09-23 13:39] 499418465 commented on #18
And VLC can turn it on.

[2020-09-23 13:40] bakjos commented on #18
@499418465 I think you don't have the latest version, there's another new option named Rstp Transport. But I don't think that's the issue, in the medium article the error is 405, in your logs is sending an error 500, so I think the issue is the server

[2020-09-23 13:42] 499418465 commented on #18
@bakjos Try the new version. And why can VLC turn it on?

[2020-09-23 13:42] 499418465 commented on #18
I will give you feedback on the new version later

[2020-09-23 14:32] 499418465 commented on #18
@bakjos   New version of TCP can run! Thank you!
However, the new version header file is missing, I added.

[2020-09-23 19:32] #18 closed

[2020-09-26 01:06] vectorcharlie opened #19 "Frame by frame seek"
Hi Santiago!

I am trying to do a video player inside ue4 4.25.3

All is working perfectly, but having an issue when doing a seek, it continues playing even if the playback is paused.

I noticed you have inside FFFMPEGMediaTracks::ReadThread() a call to StepToNextFrame() if the state is paused.

Then in StepToNextFrame() you set the SetRate to 1.0 which starts playback again. I tried to remove it

[2020-09-28 19:02] diazweb opened #20 "Problem playing m3u8 files"
Hello @bakjos !

It works very good with all kind of formats but when I try to reproduce m3u8 files on live videos, for some reason it only plays the first 1.5 seconds and then it stops.

If I try to reproduce this other file for example it get stuck in opening:

https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/mas

[2020-09-28 19:23] bakjos commented on #19
Hi @vectorcharlie thanks for posting this issue, this is one of the areas the plugin needs to be improved. When I built this library it wasn't designed to seek through the file, one of the things that could works is pause and then resume the player after the seek.

[2020-09-28 19:26] bakjos commented on #20
Hi @diazweb can you attach the logs while you're playing the file? so see if any error is appearing, I haven't tried using m3u8 files, so It can be an issue in the way the configuration is being applied (inside the code). And finally are you playing the file locally or is being played from the remote URL?

[2020-09-28 20:17] vectorcharlie commented on #19
Thanks @bakjos ! I have been tinkering with the code looking for a ways to make this work.
I have a pair of questions:

-Is SetRate(0.0f)/SetRate(1.0f) the best way to pause/resume?
-Do you have already any function to play only a specific range/time?

Thanks again!

CI

[2020-09-28 21:33] diazweb commented on #20
With this URL:

https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8

It get stuck in opening:

[code]

And if I try a live streaming it plays during 1.5 secs and then freeze the image, this is the output:

[code]

I tried without hardware acceleration and same issue. Must be something with the code config.

[2020-09-29 14:51] bakjos commented on #20
@diazweb There are 2 things that are weird for me: The first one is the `Opening 'https://url.com/file/seg.ts' for reading` and the second one is the h264 codec, the file you're trying to read is a list of list, have you tried opening directly one of the secondary list or one of the videos directly?

[2020-09-29 15:07] diazweb commented on #20
Something is not correct with m3u8, for example with this other url it freeze each 2 seconds:

[code]

Output:
[code]

All this videos play perfectly on a media player like VLC, it only happens with hls files. Could you try any of the urls on your UE4 editor?

Thanks @bakjos

[2020-10-06 17:08] alex8b opened #21 "License"
Hi!

Could you please add license to this project.
It would be appreciated if you make the code available under MIT or any other free to use license.

[2020-10-06 18:54] bakjos commented on #21
Hi @alex8b, That's one of the things a have to do at some point, the license for my code is MIT, but the the ffmpeg license is [different](http://ffmpeg.org/legal.html), I tried to compile most of the binaries with the LGPL support, but I think the one on windows include the --non-free, so I'd have to recompile the binaries to be able to add the license.

[2020-10-06 19:12] alex8b commented on #21
I see. That would be great! Could you please include libsrt into the build? I replaced the dlls locally to have support for it, but it would be nice if it's included in the build you make.

And another question. Have you considered copying decoded buffers to FRHITexture2D right away using CUDA and avoiding going GPU->CPU->GPU.
Otherwise gpu-cpu-gpu copy quickly becomes a bottleneck if you decode m

[2020-10-06 21:09] bakjos commented on #21
@alex8b If you already did it, could you upload a PR? About the buffers, that's something I did in other platform (not unreal) and I'm not sure how it would work in mobile devices, so we might have to test

[2020-10-06 21:36] alex8b commented on #21
@bakjos I just swapped it with a full ffmpeg build temporarily, but was going to switch to minimal LGPL build later. It works well on the first run. But I'm experiencing some runtime load issues after rebuild. Linker doesn't complain at build time but it says "Unable to load module ... because the file couldn't be loaded by the OS." where all the dlls are x64 and it worked just before doing rebuil

[2020-10-12 19:40] alex8b commented on #21
Hi @bakjos !

I managed to get a basic implementation of GPU-GPU copy, but I'm currently trying to make it async and fix some other performance issues.

I can see that game rendering freezes for a second on opening a new video source. I guess it's due to some sync/critical section code happening, but i haven't yet figured it out. Do you have any ideas of what it could be?

[2020-10-15 15:39] sahilsharma-dot opened #22 "android crash filterted logcat"
hi @ bakjos
the plugin  works great inside editor with ffmpeg  player but causes  crash when opened in  android api 29 with ue4.24.
the crash  logs are here.from these logs i infer that it might the loading phase of ffmpeg module which is pre-loading screen  or  the cpp-11 lirary  of ffmpeg may have gotten old .
here are the logs from api-29.
the app package is  com.kalasa.porg.any idea what is wr

[2020-10-15 17:14] bakjos commented on #22
@sahilsharma-dot I think this has something to do with the NDK version you're using or with the architecture of your phone/emulator, what's the arch? in the generated apk do you see a folder for your arch inside the lib folder?

[2020-10-15 17:18] sahilsharma-dot commented on #22
thanks for replying so quick Mr bakjos
yes I have both armevi8a and armevi7a. I did remove ×64 and 86 libraries
but with those two also I get the same result.

On Thu, 15 Oct, 2020, 10:45 pm Giovanny Gutiérrez, <notifications@github.com>
wrote:

[2020-10-15 17:18] sahilsharma-dot commented on #22
my ndk version is 21

On Thu, 15 Oct, 2020, 10:47 pm kalasa kalasa, <kalasaceo2000@gmail.com>
wrote:

[2020-10-15 17:54] diazweb opened #23 "Audio starts popping/cracking after 30-40 seconds"
Hey @bakjos !

I think there is one issue with the library. When I try to reproduce an mp4 file it works fine but after 30-40 seconds the audio start popping/cracking and the audio starts desynchronizing. Do you have any idea what it could be?

I'm using Unreal 4.25.3 with your library on Windows. I've tried tuning the FFMPEGMedia settings and same issue. Here is the log:

[code]

And you can try

[2020-10-20 23:21] bakjos commented on #23
Hey @diazweb the plugin offer 3 sync mechanisms, have you tried all 3 with the same results ? I made all the sync process based on the buffer and the time stamps provided by ffmpeg, have you debugged to check the time stamps?

[2020-10-21 20:08] diazweb commented on #23
I tried with all three mechanisms and same result. Timestamps seems right.

It happen with any kind of video, is very weird. Does it work for you?

[2020-10-21 20:10] diazweb commented on #20
With the last version of FFMPEG this issue is solved, it was a bug of FFMPEG.

[2020-10-22 10:56] bakjos commented on #20
@diazweb cool, could you upload a PR with the latest FFMPEG version?

[2020-10-22 11:04] bakjos commented on #23
@diazweb It might be an issue with the buffer and how is reused, it usually happens when one of the buffers can not decode the frame at the same speed of the other, that part needs to be improved possibly using a bigger preload buffer or copying the buffers in gpu, to avoid passing them to the CPU back and forth, does it improve if you use an infinite buffer ? I’m quite busy at work right now, but

[2020-11-13 01:30] kimba23 commented on #16
Hello. I have the same exact error. Yo tambien hablo espanol y releyendo esto veo que tengo el mismo error, alguna sugerencia?

[2020-11-17 15:23] thomasvanta commented on #16
Buenas!
El mismo error:

Severity	Code	Description	Project	File	Line	Suppression State
Error	C1083	Cannot open include file: 'ScopeLock.h': No such file or directory	TestVLC_Player	V:\Code\Unreal\TestVLC_Player\Plugins\FFMPEGMedia\Source\FFMPEGMedia\Private\FFMPEG\CondWait.h	4

Severity	Code	Description	Project	File	Line	Suppression State
Error	C1083	Cannot open include file: 'WindowsHWrapper.h':

[2020-11-20 01:37] bakjos commented on #16
@kimba23 @thomasvanta I just had time today to take a look on this issue, but I haven't been able to reproduce the issue, it might be due my project settings, can you send me your uproject settings and the .Target.cs files?

[2020-11-23 21:38] lbetbeder commented on #23
Hey @bakjos ,
I'm also experiencing what @diazweb is describing except for me the crackling starts at ~60s of video playback.
I'm also trying to stream audio only (wav, mp3, aac etc...)) and it plays fine for ~60s but then suddenly doubles playback speed (not resampled, it sounds like it's consuming audio frames at twice the speed while dropping every other packet so it doesn't affect pitch. It se

[2020-12-15 10:16] thezulk commented on #16
I had the same issue.
It seems this plugin isn't working with build settings version 2.
Solved it by creating a new project, addad a C++ class and changed BuildSettingsVersion.V2 to BuildSettingsVersion.V1 in the .target.cs files.
It then compiled without a problem.
I could then copy the compiled plugin to my primary project.

[2021-01-14 10:28] Shooter-oss commented on #20
cool, could you upload a PR with the latest FFMPEG version?

[2021-01-19 02:10] mu198924shang opened #24 "can you update to 4.26 please?"
can you update to 4.26 please?

[2021-01-20 16:24] bakjos commented on #24
The latest master version is now compatible with 4.26 only

[2021-01-20 16:24] #24 closed

[2021-01-20 16:24] bakjos commented on #16
The latest master version is compatible with the  BuildSettingsVersion.V2, thanks @thezulk for giving me a hint about the error

[2021-01-20 16:24] #16 closed

[2021-02-19 14:04] RightFS opened #25 "I think there is a deadlock when playing HEVC high bitrate mkv video"
![image](https://user-images.githubusercontent.com/12915306/108513611-ce65c300-72fd-11eb-83be-cb103bbf8486.png)
\Plugins\FFMPEGMedia\Source\FFMPEGMedia\Private\FFMPEG\FFMPEGPacketQueue.cpp@104
which in VideoThread->GetVideoFrame->DecodeFrame->FFMPEGPacketQueue.Get()

[2021-02-19 14:52] bakjos commented on #25
Can you explain a little bit better, the mutex is being unlocked https://github.com/bakjos/FFMPEGMedia/blob/8c00f8f3b1f040c8815b38f0575a4a138c1ecbb3/Source/FFMPEGMedia/Private/FFMPEG/FFMPEGPacketQueue.cpp#L135  and also the CondWait unlock the mutex first https://github.com/bakjos/FFMPEGMedia/blob/8c00f8f3b1f040c8815b38f0575a4a138c1ecbb3/Source/FFMPEGMedia/Private/FFMPEG/CondWait.cpp#L27 and then

[2021-02-19 15:14] RightFS commented on #25
@bakjos This problem seems to be related to data size per frame. When the video frame date is too big, it will happen. My video source is a HEVC HDR 10bit file (bit rate: 16Mbps).

And there is a test video, please rename it to `fortest.mkv`

https://user-images.githubusercontent.com/12915306/108522698-12f65c00-7308-11eb-8065-c8624a563521.mov

[2021-03-15 21:34] bakjos commented on #25
@RightFS I was going to check this today, but It seems the link of the video is dead, can you upload it once again?. Thanks

[2021-03-16 06:13] RightFS commented on #25
https://user-images.githubusercontent.com/12915306/108522698-12f65c00-7308-11eb-8065-c8624a563521.mov

just download this link. And rename it to xxx.mkv, thanks

@bakjos

[2021-03-17 01:18] bakjos commented on #25
@RightFS Thanks for sending me the video, there was no actual deadlock. The issue was because the file contained a subtitle track, so I created this [PR](https://github.com/bakjos/FFMPEGMedia/pull/26) to solve the issue

[2021-03-17 01:18] #25 closed

[2021-04-07 10:24] ljason1993 opened #27 "when I packaged, can't play any video"
in editor
we can change Stream-Media-Source Player-Overrides
![image](https://user-images.githubusercontent.com/33446499/113850802-6bf15500-97cd-11eb-8265-569b36ad5aeb.png)
It works

-------
but when I packaged
"[2021.04.07-10.09.26:624][968]LogWmfMedia: Error: An error occurred in the media session: 指定的传递模式无效。"
the Stream-Media-Source defalut use Windows-Media-Foundation(WMF Media)

------
so doe

[2021-04-08 07:04] ljason1993 commented on #27
0.0
does somebody here?

[2021-04-08 13:19] bakjos commented on #27
@ljason1993 Can you send me more details: the full log of the application, to see if the FFMpeg libraries are loaded, the ini files to check if the player is being overridden and the platform used to build the binary (VS 2019 x64 binary).

[2021-04-09 01:35] ljason1993 commented on #27
@bakjos

error message
`
LogMediaUtils: Error: Cannot play rtsp://192.168.19.130:26219/rtsp, because none of the enabled media player plug-ins support it:
LogMediaUtils: | MagicLeapMedia (only available on Lumin, but not on Windows)
LogMediaUtils: | MagicLeapMediaCodec (only available on Lumin, but not on Windows)
LogMediaUtils: | AndroidMedia (only available on Android, but not on Windows)
LogMed

[2021-04-09 02:30] ljason1993 commented on #27
@bakjos
oh forgot one thing
if my project don't have C++ Class
when I packaged project
my project will not have Plugins and Binaries folder

[2021-04-09 16:37] bakjos commented on #27
@ljason1993 Thanks for the feedback, yes looks like we're in different time zones, when you make the changes is it working for you? the extensions and schemes are automatically extracted from the FFMPEG binaries https://github.com/bakjos/FFMPEGMedia/blob/9f6d83de97f3319f04ddcd39e67e7dadc9fbce6e/Source/FFMPEGMedia/Private/FFMPEGMediaModule.cpp#L105 , so it depends on what platform you're trying to

[2021-04-10 12:18] ljason1993 commented on #27
@bakjos
I use windows 10 20H2
I think it's not working...

[2021-05-13 07:19] YcJChao opened #28 "Can this plug-in work in unreal 4.25?"
I try to put it in the plugin folder under the project directory. But the program cannot be compiled. Sorry I am a beginner. May I have a version 4.25.My heartfelt thanks to you

My Email:414324640@qq.com

[2021-05-13 18:40] bakjos commented on #28
@YcJChao What error are you getting? I tested with 4.24 and 4.26 so not sure, what the error might be in 4.25

[2021-05-20 09:56] LukasKastern commented on #3
This is still an issue when switching between videos to quickly.
Our workaround is to force a 0.5 seconds delay between closing/opening videos which works fine for our use cases.

[2021-06-07 22:18] kabassmusic opened #31 "Slow down FFMPEG"
Hello. I noticed that nobody replied last time we talked so I'd like to find out how to slow down a stream because the examples I provided were playing too fast. I think thats why my audio was crackling.

[2021-06-21 16:56] MoeinGhbh opened #32 "The audio speed increases for a few seconds when you start playing audio from OBS to UE"
I have a problem with the library. When I try to use an OBS for audio streaming to send an MP3 or AAC file, it speeds up for a few seconds and then normalizes.

[2021-06-29 07:55] Hubot2018 opened #33 "Engine modules cannot be compiled at runtime."
![image](https://user-images.githubusercontent.com/35440930/123757592-b841c200-d8f0-11eb-9ba4-724377511edd.png)

UE4.26.2 visual studio2017

Can you help me?

[2021-06-30 00:29] bakjos commented on #33
@Hubot2018 this usually happens when you update your engine version, does removing the intermediate and bin folders help with the issue ? What's your OS?

[2021-06-30 00:53] Hubot2018 commented on #33
Thank you very Much!  I got it. My OS is win10. The plugin cannot be placed in Engine directly. It first is put into project plugins folder, and rebuild.

[2021-07-06 07:07] kabassmusic commented on #28
I'm also having the same issue with installing the plugin to 4.25.2 & VS 2019

It installed perfectly fine with a 4.26 project. But 4.25.2 always fails.

[2021-07-06 07:15] kabassmusic commented on #28
I receive this error in the log right before it stops building.

error MSB3073: The command "C:\WINDOWS\System32\chcp.com 65001 >NUL
exited with code -1.

Then I get this in VS if I build it in there.
![ffmpeg_4-25](https://user-images.githubusercontent.com/28176852/124562324-822aa380-de04-11eb-9684-cce14e437400.png)

[2021-07-10 16:14] jxyb2008 commented on #27
(UE4.26 window10 x64) I have the same problem. I can't play it after packing, but All settings are OK.

[2021.07.10-16.03.55:323][  0]LogWindows: Failed to load '../../../MediaPro/Plugins/FFMPEGMedia/ThirdParty/ffmpeg/bin/vs/x64/avdevice-58.dll' (GetLastError=126)
[2021.07.10-16.03.55:323][  0]LogWindows:   Missing import: OpenAL32.dll
[2021.07.10-16.03.55:323][  0]LogWindows:   Missing import: AV

[2021-07-10 16:16] jxyb2008 commented on #27
@bakjos How to solve this problem？

[2021-07-16 07:24] jxyb2008 commented on #27
I've solved it. It's the plug-in loading order

[2021-07-16 19:21] bakjos commented on #27
@jxyb2008  Glad you figured it out, I'm quite busy at work and haven't been able to review the issues here,  What did you change, should I update the README with the instructions?

[2021-07-25 08:55] KapoYU commented on #27
How did you solve it? I have the same problem

[2021-08-25 08:44] sixtolink commented on #27
Excuse me.Do you have any further information about this? @bakjos

[2021-08-26 02:21] sixtolink commented on #27
FFMPEGMedia.uplugin
First "FFMPEGMediaFactory" Then "FFMPEGMedia"

[2021-10-10 14:41] PeleglilaArti opened #34 "Support with UE4.27"
Hi, I've got some compilation issues when running the plugin on 4.27.
Will you be able to support this version ?
Thanks,
Peleg

[2021-10-27 13:15] bakjos commented on #34
Hu @PeleglilaArti What issues are you getting, I just had the chance to test it out and was working well with 4.27

[2021-11-03 19:03] baokeqin opened #35 "when packaged, can't play rtsp video （The problem has been solved，Open to see the solution）"
Hi！It still can't play after packaging，The editor is playable，Can you fix this problem

[2021-11-03 19:27] baokeqin commented on #35
This is my test project       https://drive.google.com/file/d/1zwt9FG3wztEr32ynMHLIGusvGKq8YeSE/view?usp=sharing

[2021-11-04 10:07] baokeqin commented on #35
This issue has been resolved
The solution is as follows：

FFMPEGMedia.uplugin

"Modules": [
		{
			"Name": "FFMPEGMediaFactory",
			"Type": "Runtime",
			"LoadingPhase": "PostEngineInit",
			"WhitelistPlatforms": [
			    "Mac",
			    "Win32",
			    "Win64",
			    "Android"
			]
		},
		{
			"Name": "FFMPEGMedia",
			"Type": "Runtime",
			"LoadingPhase": "PreLoadingScreen",
			"WhitelistPlatform

[2021-11-04 10:13] baokeqin opened #36 "Andriod Unable to play video ，arm64 Flash back，armv7 can·t play video"
engine version 4.26
The PC can operate normally
As shown in the question，Android It seems to be invalid

We look forward to your reply in your busy schedule，thank you

[2021-11-08 03:56] dwaynarang opened #37 "Can't open RMTP stream in 4.27"
Tested and working in 4.26, but in 4.27 it "successfully" opens the stream but doesn't display any incoming data. Had someone else reproduce it on a clean install of 4.27.

[2021-11-11 10:19] zxpSC commented on #37
In 4.27 it can play the rtmp stream and .mp4 file by http, when i try to open rtsp, it seems the same behavior like your's. But if i use wmf to open an other stream which is supported by wmf, then change back to this plugin to play rtsp, it works.

[2021-11-11 16:56] dwaynarang commented on #37
Hmm. that's helpful but confusing! haha. I realize now that I used said
RMTP instead of "RTMP" but you *probably* got what I meant. So you just
need to load another, for instance .mp4 file, first, and then load the RTMP
stream aftwards? I will test things in blueprint to see if I can get things
running in game.

Thank you for the help so far! I'm trying to use this for a dj experience
where people

[2021-11-12 02:18] zxpSC commented on #37
Yes, but it may not work in packaged game, I should do more test about it.
Unfortunately, I have no experience using SRT, I'm working on rtsp/rtmp mostly.
Cool idea, hope your work goes well.

[2021-11-13 15:33] irajsb opened #38 "OpenUrl not working on 4.27 !"
I call open url node with http://file-examples-com.github.io/uploads/2017/04/file_example_MP4_480_1_5MG.mp4 as its source . I can see
[code]
in the log so correct plugin is loaded.but video output is black .

[2021-12-06 12:07] HogwartsRico commented on #37
i have the same problem as you 。 Neither RTSP nor RTMP

[2021-12-13 11:38] bacTlink commented on #21
Get compiled FFmpeg library [here](https://github.com/BtbN/FFmpeg-Builds) and [here](https://github.com/tanersener/mobile-ffmpeg)! The builds have lgpl and gpl distributions.

[2022-02-09 08:09] MichealChuang opened #39 "Hevc video playback speed is slow"
hello bakjos，I need ur help. I played a HEVC video in ue4.26 with your plugin. The HEVC video playback speed is slow when UseHardwareAcceleratedCodecs is true. When I turn UseHardwareAcceleratedCodecs  to false, the video playback speed is normal, although it sometimes gets stuck.
My graphics card is Titan x.
Test HEVC video link: https://mega.nz/#!NAtw1RqK!uQF9Uqn33KUCwe5fG66ojAJAkOv1bPNhKkcHQTSu

[2022-02-09 08:56] MichealChuang commented on #39
LogFFMPEGMedia: Warning: FFMPEG - Invalid pkt_timebase, passing timestamps as-is.

[2022-02-16 02:42] leozejia commented on #34
@bakjos  I got this error msg in 4.27 when i play rtsp by this plugin,Can you tell me how to fix this problem?

LogFFMPEGMedia: Display: AVFormat configuration: --toolchain=msvc --arch=x86_64 --disable-static --enable-shared --enable-gpl --enable-libmp3lame --enable-libvpx --enable-w32threads --disable-yasm --enable-nvenc --enable-cuda --enable-cuvid --enable-openal --enable-opencl --enable-d3d11v

[2022-03-02 07:11] ibrews commented on #37
Also not working for me in 4.27, but yes in 4.26. Here's the errors I get:

[code]

[2022-06-14 04:19] myeungc opened #40 "Error: FFMPEG - stream 0, offset 0x30: partial file"
how to solve this problem

[2022-07-06 20:20] M0oo0dy opened #41 "Camera stream opens only once in Unreal 5.0"
So I am trying to RTSP stream a camera into Unreal 5.0 using FFMPEG. I got the camera up and running once, but when I try to open it after that first time it only shows a black screen. The camera is saying it is indeed streaming, it is just not appearing in Unreal. If I swap the camera using to VLC, have it stream into Unreal using VLC then swap it back, it works. But then I have to repeat this pr

[2022-07-07 02:02] AlienZi opened #42 "GetSupportedUriSchemes"
What does the plug-in not support RTSP?GetSupportedUriSchemes method in FFMPEGMediaModule

[2022-07-07 02:34] AlienZi commented on #27
@sixtolink  I have modified the order of plug-ins, why not?
![image](https://user-images.githubusercontent.com/45613029/177678181-efcba34e-2dd7-408f-a860-fc09fc17a3f3.png)

[2022-07-07 03:41] AlienZi commented on #27
![image](https://user-images.githubusercontent.com/45613029/177685802-3a4b7904-e935-4202-86f6-d74a0bf564d8.png)
why？

[2022-07-07 11:03] #41 closed, assigned to nobody

[2022-08-09 06:16] #38 closed, assigned to nobody

[2022-09-18 17:12] fpibbs opened #43 "Cannot compile on Unreal Engine 5.0.3"
Cannot compile on Unreal Engine 5.0.3 C++ project

` Running C:/DEV/UE_5.0/Engine/Binaries/DotNET/UnrealBuildTool/UnrealBuildTool.exe  -projectfiles -project="C:/Users/DEV/Desktop/MyProject/MyProject.uproject" -game -rocket -progress -log="C:\Users\DEV\Desktop\MyProject/Saved/Logs/UnrealVersionSelector-2022.09.18-19.16.16.log"
Log file: C:\Users\DEV\Desktop\MyProject\Saved\Logs\UnrealVersionSelect

[2022-09-26 08:15] Anulo2 commented on #43
Same, can't compile :/

[2022-09-28 07:54] DeHisAndy commented on #36
The problem is solved？

[2022-09-28 07:58] DeHisAndy opened #44 "Andriod Unable to play video ，arm64 Flash back，armv7 can·t play video（ i solved it）"

[2022-09-29 08:46] DeHisAndy commented on #44
good ,i solved it

[2022-10-10 12:40] boldenko opened #45 "Video Stream Buffering"
Is it possible somehow to set streaming video buffer to zero?
I can achieve that from terminal with ffplay -fflags nobuffer URL
Can I do it within UE?

[2022-10-17 20:30] kzerot commented on #43
Seems UE5 hasn't win32 target, so just remove it from Build.cs file.

[2022-10-20 03:45] iyuyangWiki opened #46 "4.26 Windows PlayVideo image timestap can't assisatant with sound and caption"
Anyone else is ok? The following is the infomation I contrast with wmf which is fine the UE provided.
the infomation in editor with ffmpeg plugin:
Player: FFMPEGMedia

Play Rates
    Thinned: 0.0 to 1.0
    Unthinned: 0.0 to 1.0

Capabilities
    Scrubbing: No
    Seeking: No

Stream 0
		Codec: h264
		Frame Rate: 30 fps
		Dimensions: 1920 x 1080
Stream 1
		Codec: aac
		Channels: 2
		Sample Rate: 4

[2022-10-24 07:01] #46 closed, assigned to nobody

[2022-11-02 03:49] iyuyangWiki commented on #31
i try modify the audio render av_usleep time larger, it work a little. but i'dont know reason.

[2022-11-02 09:46] yanbiao0126 commented on #44
Brother, how did you deal with it

[2022-11-20 12:51] afterimagex opened #47 "Everything is normal but nothing is displayed"
![1668948514716](https://user-images.githubusercontent.com/17892974/202902763-1eec8209-5bf1-4f7d-922f-6dedeb6851af.png)

Can someone help me answer this question? I use Unreal5.0.3

[2022-11-27 06:35] grantwilk commented on #47
I was able to get it working by setting `UseHardwareAcceleratedCodecs (true)` to `UseHardwareAcceleratedCodecs (false)` in `FFMPEGMediaFactoryClasses.cpp`.

Seeing a lot of stuttering and tearing though.

[2022-11-30 03:34] iyuyangWiki commented on #47
I Use 4.26 is fine，but I find some audio problem which is cracking sometimes. Do Anybody  know that problem?